In [2]:
import pandas as pd
import os

import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.figure_factory as ff

from urllib.request import urlopen

#import json
import psycopg2

In [3]:
File = os.path.join('D:',os.sep,'IG Data', 'escolasLatitude.csv')
#File = os.path.join('C:',os.sep,'Users', 'emanuelqueiroga', 'scripts', 'data' , 'escolasLatitude.csv')
df = pd.read_csv(File, sep=';')

In [4]:
conn = psycopg2.connect(host="35.247.202.234",database="dw",user="consulta",password="teste123")
query = """
select * from public.dimensoes_est de
inner join escolas.aluno a 
on de.id_aluno = a.id_aluno 
inner join escolas.turma t 
on a.id_turma = t.id_turma 
inner join escolas.escola e 
on t.id_escola = e.cod_escola;
"""
df2 = pd.read_sql(query,conn)
conn.close() #close the connection

In [7]:
list(df2)

['id',
 'id_aluno',
 'E_ESCV',
 'E_PROFV',
 'E_FAMV',
 'E_COMV',
 'E_ESTV',
 'E_ESCC',
 'E_PROFC',
 'E_FAMC',
 'E_COMC',
 'E_ESTC',
 'created_date',
 'updated_date',
 'id_aluno',
 'id_turma',
 'cod_matricula',
 'nome_turma',
 'nome_aluno',
 'tp_sexo',
 'id_turma',
 'id_escola',
 'nome_turma',
 'modo_ensino',
 'etapa_ensino',
 'ano_turma',
 'data_criacao',
 'resticao_de_atendimento',
 'escola',
 'cod_escola',
 'uf',
 'municipio',
 'localizacao',
 'localidade_diferenciada',
 'categoria_administrativa',
 'endereco',
 'telefone',
 'dependencia_administrativa',
 'categoria_escola',
 'conveniada_poder_publico',
 'regulamentacao_conselho',
 'porte',
 'etapas_e_modalidade_ensino',
 'outras_ofertas',
 'cod_regiao',
 'micro',
 'meso',
 'regiao',
 'cod_estado']

In [12]:
df_escolas = df2['id_escola'].value_counts()
df_escolas = df_escolas.reset_index()
df_escolas.columns = ['id_escola', 'Quant. Estudantes']
df_escolas

   id_escola  Quant. Estudantes
0   15562158                 28
1   15547574                 18
2   15070387                 14
3   23095776                  1
4   11000937                  1

In [20]:
df2['id_escola'].nunique()

5

In [24]:
df2 = df2.round(2)
df2

,id,id_aluno,E_ESCV,E_PROFV,E_FAMV,E_COMV,E_ESTV,E_ESCC,E_PROFC,E_FAMC,...,conveniada_poder_publico,regulamentacao_conselho,porte,etapas_e_modalidade_ensino,outras_ofertas,cod_regiao,micro,meso,regiao,cod_estado
0,62,14799,0.00,0.00,0.00,0.00,0.00,1,1,1,...,Não,Sim,Entre 501 e 1000 matrículas de escolarização,"Ensino Fundamental, Educação de Jovens Adultos",None,3,ALVORADA D'OESTE,LESTE RONDONIENSE,Norte,11
1,31,19175,2.00,1.00,2.00,1.00,1.78,1,1,1,...,Não,Sim,Entre 201 e 500 matrículas de escolarização,Ensino Fundamental,Atendimento Educacional Especializado,3,ALMEIRIM,BAIXO AMAZONAS,Norte,15
2,30,19174,2.50,1.00,3.50,1.89,2.89,1,1,2,...,Não,Sim,Entre 201 e 500 matrículas de escolarização,Ensino Fundamental,Atendimento Educacional Especializado,3,ALMEIRIM,BAIXO AMAZONAS,Norte,15
3,29,19152,2.00,1.50,3.33,1.89,2.89,1,1,1,...,Não,Sim,Entre 201 e 500 matrículas de escolarização,Ensino Fundamental,Atendimento Educacional Especializado,3,ALMEIRIM,BAIXO AMAZONAS,Norte,15
4,28,19150,4.00,1.00,1.00,1.00,1.67,2,1,1,...,Não,Sim,Entre 201 e 500 matrículas de escolarização,Ensino Fundamental,Atendimento Educacional Especializado,3,ALMEIRIM,BAIXO AMAZONAS,Norte,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,24,19010,2.33,3.00,4.17,2.78,3.56,1,2,2,...,Não,Sim,Entre 201 e 500 matrículas de escolarização,"Ensino Fundamental, Educação de Jovens Adultos",Atendimento Educacional Especializado,3,ALMEIRIM,BAIXO AMAZONAS,Norte,15
58,23,18999,1.00,3.00,3.83,1.67,2.89,1,2,2,...,Não,Sim,Entre 201 e 500 matrículas de escolarização,"Ensino Fundamental, Educação de Jovens Adultos",Atendimento Educacional Especializado,3,ALMEIRIM,BAIXO AMAZONAS,Norte,15
59,22,18994,1.00,2.33,4.33,3.22,4.67,1,1,3,...,Não,Sim,Entre 201 e 500 matrículas de escolarização,"Ensino Fundamental, Educação de Jovens Adultos",Atendimento Educacional Especializado,3,ALMEIRIM,BAIXO AMAZONAS,Norte,15
60,21,18993,2.67,1.50,1.83,2.00,3.56,1,1,1,...,Não,Sim,Entre 201 e 500 matrículas de escolarização,"Ensino Fundamental, Educação de Jovens Adultos",Atendimento Educacional Especializado,3,ALMEIRIM,BAIXO AMAZONAS,Norte,15
61,1,4734,4.75,3.00,4.67,4.33,3.83,3,2,3,...,Não,Sim,Entre 51 e 200 matrículas de escolarização,Ensino Fundamental,"Atendimento Educacional Especializado, Ativida...",2,BAIXO CURU,CENTRO-SUL CEARENSE,Nordeste,23

In [28]:
df2 = df2.round(2)
df3 = df2.copy()
df3 = df3.loc[df2['id_escola'] == 15562158]

df3['E_ESCV'].mean()

2.3935714285714282

In [32]:
df_for = ['E_ESCV', 'E_PROFV', 'E_FAMV', 'E_COMV', 'E_ESTV']

for indez, row in df_escolas.iterrows():
    print(row['id_escola'])
    busca = "id_escola == " + str(row['id_escola'])
    esc = df2.query(busca)
    row[index, 'E_ESCV'] = esc['E_ESCV'].mean()
    row[index, 'E_PROFV'] = esc['E_PROFV'].mean()
    row[index, 'E_FAMV'] = esc['E_FAMV'].mean()
    row[index, 'E_COMV'] = esc['E_COMV'].mean()
    row[index, 'E_ESTV'] = esc['E_ESTV'].mean()
    #print(esc)

15562158

NameError: name 'index' is not defined

5

In [4]:
df = df[df['Latitude'].notna()]
df = df[df['Longitude'].notna()]
df = df[df['Escola'].notna()]
len(df)

158742

In [6]:
list(df)

['Restrição de Atendimento',
 'Escola',
 'Código INEP',
 'UF',
 'Município',
 'Localização',
 'Localidade Diferenciada',
 'Categoria Administrativa',
 'Endereço',
 'Telefone',
 'Dependência Administrativa',
 'Categoria Escola Privada',
 'Conveniada Poder Público',
 'Regulamentação pelo Conselho de Educação',
 'Porte da Escola',
 'Etapas e Modalidade de Ensino Oferecidas',
 'Outras Ofertas Educacionais',
 'Latitude',
 'Longitude']

In [7]:
df2 = df.loc[df['UF'] == 'RS']
df2 = df.loc[df['Município'] == 'Pelotas']
len(df2)

196

In [14]:
len(df)

158742

In [12]:
df.groupby(['Categoria Administrativa'])['Escola'].count()

Categoria Administrativa
Privada     34545
Pública    124197
Name: Escola, dtype: int64

In [16]:
df.groupby(['Porte da Escola'])['Escola'].count()

Porte da Escola
Até 50 matrículas de escolarização              26492
Entre 201 e 500 matrículas de escolarização     42247
Entre 501 e 1000 matrículas de escolarização    20335
Entre 51 e 200 matrículas de escolarização      53570
Escola sem matrícula de escolarização            1368
Mais de 1000 matrículas de escolarização         5524
Name: Escola, dtype: int64

In [20]:
df['Porte da Escola'].value_counts()

Entre 51 e 200 matrículas de escolarização      53570
Entre 201 e 500 matrículas de escolarização     42247
Até 50 matrículas de escolarização              26492
Entre 501 e 1000 matrículas de escolarização    20335
Mais de 1000 matrículas de escolarização         5524
Escola sem matrícula de escolarização            1368
Name: Porte da Escola, dtype: int64

In [23]:
df.describe()

        Código INEP       Latitude      Longitude
count  1.587420e+05  158742.000000  158742.000000
mean   3.085995e+07     -15.618903     -45.715318
std    9.469767e+06       8.780543       6.115467
min    1.100002e+07     -33.692120     -73.005554
25%    2.400194e+07     -23.119590     -49.217934
50%    3.127616e+07     -18.211475     -46.312286
75%    3.541755e+07      -7.151610     -41.599918
max    5.308500e+07       4.789615     -32.409753

In [24]:
df['Porte da Escola'].isna().sum()

9206

In [25]:
df['Porte da Escola'] = df['Porte da Escola'].fillna('Não definido')

In [26]:
df['Porte da Escola'].value_counts()

Entre 51 e 200 matrículas de escolarização      53570
Entre 201 e 500 matrículas de escolarização     42247
Até 50 matrículas de escolarização              26492
Entre 501 e 1000 matrículas de escolarização    20335
Não definido                                     9206
Mais de 1000 matrículas de escolarização         5524
Escola sem matrícula de escolarização            1368
Name: Porte da Escola, dtype: int64

In [8]:
#df2.to_csv('pelotas2.csv', sep='|')

In [9]:
#EMEF MARCIO DIAS

#df3 = df2.loc[df['Escola'] != 'EMEF MARCIO DIAS']
#len(df3)

In [10]:
new = df2.filter(['Escola','Latitude','Longitude', 'Porte da Escola',], axis=1)
new

,Escola,Latitude,Longitude,Porte da Escola
193767,COLEGIO TIRADENTES PELOTAS,-31.756633,-52.373175,Entre 51 e 200 matrículas de escolarização
193828,EEI MUNDO DO MICKEY,-31.771390,-52.329940,Até 50 matrículas de escolarização
193902,EEI CHAPEUZINHO VERMELHO,-31.762210,-52.343580,Até 50 matrículas de escolarização
193985,EEF TRES VENDAS,-31.731438,-52.346365,Entre 501 e 1000 matrículas de escolarização
193987,EEI REINO AZUL,-31.758710,-52.363290,Até 50 matrículas de escolarização
...,...,...,...,...
204971,EEI TAGARELAS,-31.761200,-52.239370,Até 50 matrículas de escolarização
204973,CENTRO INF BRICANDO DE APRENDER,-31.743850,-52.342600,NaN
204978,EEI DOCE MEL,-31.761920,-52.343230,NaN
204980,EEI MUNDO CRIATIVO,-31.756190,-52.331390,Até 50 matrículas de escolarização
205061,EEI TURMINHA DA EMILIA,-31.743930,-52.320980,NaN

In [27]:
def map_escolas():
    fig = px.scatter_mapbox(df, 
                            title="Escolas BR",
                            zoom=3, center={"lat": -11.44, "lon": -52.01},
                            lat="Latitude", lon="Longitude",
                            color='Porte da Escola',
                            hover_name="Escola", 
                            hover_data=['Restrição de Atendimento',
                             'Escola',
                             'Código INEP',
                             'UF',
                             'Município',
                             'Localização',
                             'Localidade Diferenciada',
                             'Categoria Administrativa',
                             'Endereço',
                             'Telefone',
                             'Dependência Administrativa',
                             'Categoria Escola Privada',
                             'Conveniada Poder Público',
                             'Regulamentação pelo Conselho de Educação',
                             'Porte da Escola',
                             'Etapas e Modalidade de Ensino Oferecidas',
                             'Outras Ofertas Educacionais',
                             'Latitude',
                             'Longitude']
                            
                                )
    #fig.update_layout(mapbox_style="open-street-map")
    fig.update_layout(mapbox_style="carto-positron")
    fig.update_traces(marker=dict(sizemin=2))
    return fig

fig = map_escolas()
#export_fig_html(fig, "locais_votacao_2022.html")
#fig.show()
fig.write_html("maps_escola.html")