In [1]:
import pandas as pd

In [4]:
d = {'a': [1, 2], 'b': [3, 4]}

In [5]:
df = pd.DataFrame(data=d)

In [6]:
df['c'] = df['a'] + df['b']
df

   a  b  c
0  1  3  4
1  2  4  6

In [7]:
df['d'] = df.loc[:,['a', 'b']].sum(axis=1)
df

   a  b  c  d
0  1  3  4  4
1  2  4  6  6